[submodule "sprintbff"]
	path = sprintbff
	url = https://gitlab.csi.it/prodotti/sprint/sprintbff.git
	branch = master

[submodule "sprintwcl"]
	path = sprintwcl
	url = https://gitlab.csi.it/prodotti/sprint/sprintwcl.git
	branch = master

[submodule "sprintj"]
	path = sprintj
	url = https://gitlab.csi.it/prodotti/sprint/sprintj.git
	branch = master
	update = none
	ignore = dirty
